.form .form-control {
    margin-bottom: 20px;
}

body {
    background: url('https://iguana-idm.com/wp-content/uploads/iGuana-Digital-Library-e-Library-Internet-Library-Online-Library-Solution.jpg') fixed;
    background-size: cover;
    padding: 650px;
    border-bottom: 2px solid transparent;

    
}
.container {
    width: 160%;
    height:50%;
    background-color: rgb(226, 174, 115);
    border: 1px solid #e6c682;;
    border-bottom:2px solid transparent;
    background-color: #e6c682;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color: #e6c682;;
    border-width: 5px;
    box-shadow:0 1px 0 #e6c682;;
}

.wrap {
    width: 100%;
    height: 50%;
    min-height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    text-align: center;
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0.66);
    border-bottom: 2px solid transparent;
    padding-top: 0%;
    padding: 0cm;
}

.inputBox .inputText {
    position: absolute;
    font-size: 24px;
    line-height: 50px;
    transition: .5s;
    opacity: .5;
}

.inputBox .input {
    position: relative;
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
}

p.form-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

form {
    width: 800px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background: rgba(122, 109, 64, 0.15);
}

form.Inscrit input[type="text"],
form.Inscrit input[type="password"] {
    width: 300px;
    height: 40px;
    margin-top: 25px;
    padding: 15px;
    background: #2d2d2d;
    background: rgba(45, 45, 45, .15);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #3d3d3d;
    border: 1px solid rgba(255, 255, 255, .15);
    -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
    position: relative;
}

form.Inscrit select {
    width: 200px;
    height: 40px;
    margin-top: 25px;
    padding: 0 15px;
    background: #2d2d2d;
    background: rgba(45, 45, 45, .15);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #3d3d3d;
    border: 1px solid rgba(255, 255, 255, .15);
    -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

form.choix {
    width: 100px;
    height: 40px;
    margin-top: 25px;
    padding: 0 15px;
    background: #2d2d2d;
    background: rgba(45, 45, 45, .15);
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    text-align: center;
    border-radius: 6px;
    border: 1px solid #3d3d3d;
    border: 1px solid rgba(255, 255, 255, .15);
    -moz-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1) inset;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 16px;
    color: rgb(255, 255, 255);
    text-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
    -ms-transition: all .2s;
}

form.choix input[type="submit"] {
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.choix input[type="submit"]:hover {
    transition: background-color 0.5s ease;
}

form.Inscrit input[type="submit"] {
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.Inscrit input[type="submit"]:hover {
    transition: background-color 0.5s ease;
}

form.Inscrit .remember-forgot {
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
}

form.Inscrit .forgot-pass-content {
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

form.Inscrit label,
form.login a {
    font-size: 12px;
    font-weight: 400;
    color: #000000;
}

form.Inscrit a {
    transition: color 0.5s ease;
}

form.Inscrit a:hover {
    color: #121312;
}

.pr-wrap {
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

.show-pass-reset {
    display: block !important;
}

.pass-reset {
    margin: 0 auto;
    width: 250px;
    position: relative;
    margin-top: 22%;
    z-index: 999;
    background: #FFFFFF;
    padding: 20px 15px;
}

.pass-reset label {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
}

.pass-reset input[type="email"] {
    width: 100%;
    margin: 5px 0 0 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #000000;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #000000;
    outline: 0;
}

.pass-reset input[type="submit"] {
    width: 100%;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

.pass-reset input[type="submit"]:hover {
    transition: background-color 0.5s ease;
}

.posted-by {
    position: absolute;
    bottom: 26px;
    margin: 0 auto;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.66);
    padding: 10px;
    left: 45%;
}